<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  User Management System
  <span class="example-spacer"></span>
  <span>Logout </span>
  <mat-icon matBadge="15" matBadgeColor="warn" >home</mat-icon>
</mat-toolbar>

<div fxLayoutAlign="center center " fxFlexFill class="main-div " >
    <img class="img1" mat-card-image src="assets/register.jpg">

      <mat-card >
        <mat-toolbar  class="toolbar-sub">User Registration</mat-toolbar>
          <form fxLayoutAlign="stretch" fxLayout="column"  class="login-form" [formGroup]="formGroup" (ngSubmit)="registerProcess()">

            <mat-form-field appearance="outline" >
              <input matInput placeholder="User Name" formControlName="name" >
            </mat-form-field>
          
            <mat-form-field appearance="outline" >
                <input matInput Type="password" placeholder="Password" formControlName="password">
              </mat-form-field>

              <div class="vertical-center">
            <button mat-raised-button type="submit" class="button">Register</button>
             </div>
          </form>
  </mat-card>

</div>
