.main-div mat-card{
    padding: 0px ;
    align-self: 30px;
    width: 900px;
    height: 400px;
    border-style: ridge;
    
}
.login-form{
    padding: 20px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: aliceblue;
    background: rgb(26,35,126);
    background: linear-gradient(90deg, rgba(26,35,126,1) 0%, rgba(25,118,210,1) 100%);
}
.img1{
    left: 90px;
    width: 500px;
    height: 400px;
}    
.toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-sub{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(26,35,126);
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  }
  .example-spacer {
    flex: 1 1 auto;
  }