<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    User Management System
    <span class="example-spacer"></span>
    <span>Logout </span>
    <mat-icon matBadge="15" matBadgeColor="warn" >home</mat-icon>
  </mat-toolbar>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>George Edwards</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/users/u2.jpg" class="img">
    <mat-card-content>
      <h3> Name : George Edwards</h3>
      <h3> Email :george.edwards@reqres.in</h3>
</mat-card-content>
    <mat-card-actions>
      <p>Remove User ?</p><br>
      <button mat-raised-button color="warn">Delete User</button>
    </mat-card-actions>
  </mat-card>
  